#sidebar-menu {
    position: fixed;
    height: 100vh;
}

.logo {
    width: 100%;

}

.expand {
    width: 20%;
}

.minimize {
    width: 10%;
}

.main-menu {
    height: 100vh;
    background-color: white;
}

.toggle-menu-btn {
    background-color: white;
    border-radius: 5px;
}

.expand-btn {
    rotate: 180deg;
}

@media screen and (max-width:375px) {
    .expand {
        width: 70%;
    }

    .text-2xl {
        font-size: 1.25rem;
    }

    .text-sm {
        font-size: 0.875rem;
    }

    .hidden {
        display: none !important;
    }
}