#sidebar-menu {
    position: fixed;
    height: 100vh;
    border-radius: 10px;
    border: 1px solid green;
    transition: width 0.5s ease;
}

.expand {
    width: 20%;
}

.minimize {
    width: 5%;
}

.sidebar-menu-container {
    height: 100%;
}

.resizeSmall {
    transform: rotate(-180deg);
    transition: transform 0.5s ease-out;

}

.expandMenu {
    transition: transform 0.5s ease-out;
}



@media screen and (max-width:375px) {
    .expand {
        width: 50%;
    }

    .sidebar-menu-container {
        height: fit-content;
    }

    .text-2xl {
        font-size: 1rem;
    }
}

@media screen and (min-width:376px) and (max-width:876px) {
    .expand {
        width: 40%;
    }

    .sidebar-menu-container {
        height: fit-content;
    }

    .text-2xl {
        font-size: 1rem;
    }
}