<div id="sidebar-menu" class="shadow shadow-lg grid grid-rows-2 rounded-t-lg"
    [ngClass]="isMenuVisible?'expand':'minimize'">
    <div class="w-full sidebar-menu-container">
        <div class=" rounded-t-lg shadow shadow-md h-20 flex flex-row justify-center align-center bg-white">
            <div class="w-4/5 flex flex-row items-center" [ngClass]="!isIconLeft?'justify-center':'justify-between'">
                <div class="text-2xl" *ngIf="isMenuVisible">Money Mangement</div>
                <i class="bi bi-caret-left-fill" (click)="toggleMenu()"
                    [ngClass]="isIconLeft?'expandMenu':'resizeSmall'"></i>
            </div>
        </div>
    </div>
</div>